In [52]:
from sklearn.feature_extraction.text import CountVectorizer  
vectorizer=CountVectorizer()
corpus=["I come to China to travel", 
    "This is a car polupar in China",          
    "I love tea and Apple ",   
    "The work is to write some papers in science"] 
X = vectorizer.fit_transform(corpus)

In [ ]:
print vectorizer.fit_transform(corpus).toarray()
print vectorizer.get_feature_names()

In [53]:
from sklearn.feature_extraction.text import HashingVectorizer 
vectorizer2=HashingVectorizer(n_features = 6,norm = None)
Y = vectorizer2.fit_transform(corpus)

In [59]:
from pandas import DataFrame
print(Y.todense())
df_Y = DataFrame(Y.toarray())
print(df_Y)

[[ 0.  2. -1.  0.  1. -1.]
 [ 1.  1. -1.  0.  0. -1.]
 [ 2.  0.  0.  0.  0. -2.]
 [ 0.  4. -1.  1.  0. -1.]]
     0    1    2    3    4    5
0  0.0  2.0 -1.0  0.0  1.0 -1.0
1  1.0  1.0 -1.0  0.0  0.0 -1.0
2  2.0  0.0  0.0  0.0  0.0 -2.0
3  0.0  4.0 -1.0  1.0  0.0 -1.0

In [3]:
import pandas as pd
data = pd.read_csv("News_Final.csv")

In [20]:
data.head(3)

,IDLink,Title,Headline,Source,Topic,PublishDate,SentimentTitle,SentimentHeadline,Facebook,GooglePlus,LinkedIn
0,99248.0,Obama Lays Wreath at Arlington National Cemetery,Obama Lays Wreath at Arlington National Cemete...,USA TODAY,obama,2002-04-02 00:00:00,0.000000,-0.053300,-1,-1,-1
1,10423.0,A Look at the Health of the Chinese Economy,"Tim Haywood, investment director business-unit...",Bloomberg,economy,2008-09-20 00:00:00,0.208333,-0.156386,-1,-1,-1
2,18828.0,Nouriel Roubini: Global Economy Not Back to 2008,"Nouriel Roubini, NYU professor and chairman at...",Bloomberg,economy,2012-01-28 00:00:00,-0.425210,0.139754,-1,-1,-1

In [67]:
def vectorizer(df_data):
    from sklearn.feature_extraction.text import CountVectorizer 
    vectorizer=CountVectorizer()
    data_list = df_data.tolist()
    data_vecr = vectorizer.fit_transform(data_list)
    return data_vecr

In [22]:
data_title_vecr = vectorizer(data["Title"])
print(data_title_vecr.shape)

(93239, 30278)

In [25]:
def hashVectr(df_data,n_fea):
    from sklearn.feature_extraction.text import HashingVectorizer
    hash_vecr = HashingVectorizer(n_features = n_fea,norm ='l1' )
    data_hash_vecr = hash_vecr.fit_transform(df_data)
    return data_hash_vecr

In [72]:
data_title_hash = hashVectr(data["Title"],50)
print(data_title_hash.shape)

(93239, 50)

In [73]:
data_Headline = data["Headline"].fillna("NULL")
data_Headline_vecr = vectorizer(data_Headline)
print(data_title_vecr.shape)
data_Headline_hash = hashVectr(data_Headline,50)

In [74]:
data_Source = data["Source"].fillna("NULL")
# data_Source_vecr = vectorizer(data_Source)
#print(data_Source_vecr.shape)
data_Source_hash = hashVectr(data_Source,15)

In [75]:
data_Topic = data["Topic"].fillna("NULL")
data_Topic_vecr = vectorizer(data_Topic)
print(data_Topic_vecr.shape)
# data_Source_hash = hashVectr(data_Source,50)

(93239, 4)

In [77]:
from pandas import DataFrame
df_title_hash = DataFrame(data_title_hash.toarray())
df_Headline_hash = DataFrame(data_Headline_hash.toarray())
df_Source_hash = DataFrame(data_Source_hash.toarray())
df_Topic_vecr = DataFrame(data_Topic_vecr.toarray())
# print(type(df_title_hash))
data_hash = pd.concat([df_title_hash,df_Headline_hash,df_Source_hash,df_Topic_vecr],axis=1)
# print(data_hash)

In [78]:
data_hash.to_csv("Hash_News_Final.csv",index=False,sep=',')